treechildren::-moz-tree-cell-text(playingSong)
{
  font-weight: bold;
}

artistinfo {
  -moz-binding: url("chrome://smarty-pants/content/artistinfo.xml#artistinfo");
}
albuminfo {
  -moz-binding: url("chrome://smarty-pants/content/albuminfo.xml#albuminfo");
}

.artistinfo-labelbox {
  margin: 0px;
  padding: 0px;
}

.albuminfo-labelbox {
  margin: 0px;
  padding: 0px;
}

.artistinfo-image {
  min-width: 64px;
  max-width: 128px;
  max-height: 128px;
}
.artistinfo-image:hover {
  cursor: pointer;
}

.albuminfo-image {
  min-width: 64px;
  max-width: 64px;
  max-height: 64px;
}
.albuminfo-image:hover {
  cursor: pointer;
}

.artistinfo-artistname {
  margin: 2px;
  padding-left: 4px;
  padding-right: 4px;
  font-weight: bold;
  font-size: 11px;
}
.artistinfo-artistname:hover {
  cursor: pointer;
  text-decoration: underline;
}

.artistinfo-artistscore {
  margin: 2px;
  font-weight: normal;
  font-size: 9px;
  text-align: right;
}

.artistinfo-radioimage {
  margin: 2px;
  padding-left: 4px;
  max-width: 17px; 
  max-height: 13px;
}
.artistinfo-radioimage:hover {
  cursor: pointer;
}

.albuminfo-albumname {
  margin: 2px;
  padding-left: 4px;
  padding-right: 4px;
  font-weight: bold;
  font-size: 11px;
}
.albuminfo-albumname:hover {
  cursor: pointer;
  text-decoration: underline;
}

.albuminfo-artistname {
  margin: 2px;
  padding-left: 4px;
  padding-right: 4px;
  font-weight: normal;
  font-size: 11px;
}
.albuminfo-artistname:hover {
  cursor: pointer;
  text-decoration: underline;
}

.albuminfo-albumscore{
  margin: 2px;
  font-weight: normal;
  font-size: 9px;
  text-align: right;
}
